{
    "extends": "think",
    "rules": {
        "indent": ["error", 4],
        "comma-dangle": ["error", "only-multiline"],
        "no-console": "off",
        "no-unused-vars": [
            "warn",
            { "vars": "all", "args": "all", "ignoreRestSiblings": false }
        ],
        "space-before-function-paren": [
            "error",
            {
                "anonymous": "always",
                "named": "never",
                "asyncArrow": "always"
            }
        ]
    }
}
